@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --sena-green: #39A900;
  --sena-dark-green: #2E7D32;
  --sena-orange: #FF9800;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}
