.modal-backdrop {
  opacity: 0.5;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.badge {
  font-size: 0.75em;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.form-control {
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  
  &:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}